@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button {
  @apply text-center border-none bg-black text-white py-1 px-2;
}

button:disabled,
button[disabled] {
  @apply opacity-30 cursor-not-allowed;
}

.controls {
  @apply absolute top-4 right-4 flex flex-col items-end;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

/* .zoom-0 .link, */
/* .zoom-1 .link, */
.zoom-2 .link,
.zoom-3 .link {
  stroke-dasharray: none;
}

.zoom-1 .node circle {
  transform: scale(1.5);
}

.zoom-2 .node circle {
  transform: scale(4);
}

.zoom-3 .node circle {
  transform: scale(8);
}
