@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: black;
}

button {
  @apply border-none bg-black px-2 py-1 text-center text-white;
}

button:disabled,
button[disabled] {
  @apply cursor-not-allowed opacity-30;
}

.controls {
  @apply absolute right-4 top-4 flex flex-col items-end;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

/* .zoom-0 .link, */
/* .zoom-1 .link, */
.zoom-2 .link,
.zoom-3 .link {
  stroke-dasharray: none;
}

.zoom-1 .node .node-circle {
  transform: scale(1.5);
}

.zoom-2 .node .node-circle {
  transform: scale(4);
}

.zoom-3 .node .node-circle {
  transform: scale(8);
}
