@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --anim-duration: 500ms;
}

body {
  color: white;
  background: black;
}

button {
  @apply border-none bg-black px-2 py-1 text-center text-white;
}

button:disabled,
button[disabled] {
  @apply cursor-not-allowed opacity-30;
}

.controls {
  @apply absolute right-4 top-4 flex flex-col items-end;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity var(--anim-duration);
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity var(--anim-duration);
}

.zoom-1 .node .node-circle {
  transform: scale(1.5);
}

.zoom-2 .node .node-circle {
  transform: scale(2.5);
}

.zoom-3 .node .node-circle {
  transform: scale(4);
}

.zoom-4 .node .node-circle {
  transform: scale(6);
}

.zoom-0 line.transferring,
.zoom-1 line.transferring {
  stroke-dashoffset: 0.26;
}

.not-dragging line.transferring {
  animation: dash var(--anim-duration) linear forwards;
  animation-iteration-count: infinite;
}

.zoom-2 line,
.zoom-3 line {
  stroke-dasharray: none;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
